<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title></title>

</head>
<body>
    <footer>
        <div class="logoFooter">
            <img src="/pysw_tp1/assets/img/logo.png" alt="logo">
        </div>
        <div class="social-media">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
            </div>
            
            <div class="footer-container">
                <div class="footer-wrapper">
                    <h4>Regiones de Argentina</h4>
                    <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=-65%2C-40%2C-57%2C-30&layer=mapnik">
                    </iframe>
                </div>
            
                <div class="footer-wrapper">
                    <h4>SERVICIOS</h4>
                    <a href="#">Consultoria</a>
                    <a href="#">Noticias</a>
                    <a href="#">Biblioteca</a>
                </div>
            
                <div class="footer-wrapper">
                <h4>SOPORTE</h4>
                <a href="#">Preguntas Frecuentes</a>
                <a href="#">Comunidad</a>
                <a href="#">Sugerencias</a>
                <a href="#">Album de Fotos</a>
                <a href="#">Sitio del Desarrollador</a>
            </div>
    
            <div class="footer-wrapper">
                <h4>NEWSLETTER</h4>
                <p>Suscribirse</p>
                <div class="footer-newsletter">
                    <input type="email" placeholder="Escribe tu email">
                    <button>ENVIAR</button>
                </div>
            </div>
        </div>
    
        <hr class="divider">
        <div class="webright">
            <div class="webright-left">
                © 2026 Patito WebCode. All rights reserved.
            </div>
            <div class="webright-right">
                <a href="#">Términos y Condiciones</a>
                <a href="#">Política de cookies</a>
                <a href="#">Privacidad</a>
            </div>
        </div>
    </footer>
</body>

</html>