<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="../assets/css/header.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="menu">
                <a href="../index.html">Inicio</a>
                <a href="../pages/destinos.html">Destinos</a>
                <button class="desplegar">
                    <span>Tutoriales +</span>
                    <div class="mega-menu">
                        <h2>Nuestros Tutoriales</h2>
                        <div class="categorias">
                            <div class="lista">
                                <h3>Agencias</h3>
                                <a href="#">Ver Agencias</a>
                            </div>
                            <div class="lista">
                                <h3>Precios</h3>
                                <a href="#">Comparador</a>
                            </div>
                            <div class="lista">
                                <h3>Blog</h3>
                                <a href="#">Noticias</a>
                            </div>
                        </div>
                    </div>
                </button>
                <a href="#">Contacto</a>
            </nav>
        </div>
    </header>
</body>
</html>